# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
openvino_env/
openvino_model/
garbage_classification.onnx

# Ignore temporary files and system files
*.log
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

